/* Contact css */
.contact-card {
  background: #3b0278;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(95, 14, 195, 0.1);
  padding: 1rem;
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}

.contact-card h4 {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.contact-card p {
  font-size: 1rem;
  color: #fffbfb;
  margin-bottom: 20px;
}

.contact-card a {
  color: #ffffff;
  text-decoration: none;
}

.contact-card a:hover {
  text-decoration: underline;
}

.contact-card h3 {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 20px;
}

.contact-form {
  text-align: left;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #5b15f1;
  outline: none;
}

.submit-btn {
  background: #1d0434;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

.submit-btn:hover {
  background: #190161;
}

.form-status {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #28a745;
}
