/* experience css */
.experience {
    padding: 2rem;
    width: 100%;
    margin: 0px auto;
}

.experience h2 {
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.experience-list {
    display: grid;
    gap: 20px;
}

.experience-card {
    background-color: #3b0278;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.experience-card h3 {
    font-size: 1.5rem;
    color: #ffffff;
}

.experience-card h4 {
    font-size: 1.2rem;
    color: #5384f6;
}

.duration {
    font-style: italic;
    color: #aaa8a8;
}

.description {
    margin-top: 10px;
    color: #ffffff;
    line-height: 1.6;
}

@media (max-width: 768px) {
    .experience {
        padding: 15px;
    }

    .experience-card {
        padding: 15px;
    }

    .experience-card h3 {
        font-size: 1.3rem;
    }

    .experience-card h4 {
        font-size: 1rem;
    }
}