/* Home css */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    font-family: 'Dancing Script',cursive;
    color: #ffffff;
}

h1,
h2 {
    font-family: 'Dancing Script',cursive;
}

h1 {
    font-size: 2rem;
    color: #ffffff;
}

h2 {
    font-size: 2rem;
    color: #ffffff;
}

.img-fluid{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background: radial-gradient(circle, rgba(133, 86, 251, 0.7), rgba(20, 12, 28, 0.5));
}

.contact-section,
.projects-section,
.about-section,
.skills-section {
    margin-top: 50px;
    text-align: center;
}
