.navbar {
  color: rgb(255, 255, 255);
  padding: 10px;
  position: fixed;
  background: #2a0152;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 4px 2px -2px #190030;
  z-index: 1;
}

.navbar-brand {
  font-size: 20px;
  color: #fff;
}

.navbar h1 {
  font-size: 24px;
  margin: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #8f60e0;
}
