@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Sour Gummy", sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #190228;
    width: 100%;
    color: #ffffff;
}
.wrapper {
    margin-top: 80px;
}

.home-section,
.contact-section,
.projects-section,
.about-section,
.skills-section {
    padding: 2rem;
    text-align: center;
}
